.stepper-container {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .step-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .step {
    display: flex;
    width: 80px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 500;
  }

  .line {
    display: block;
    height: 1px;
    border: 0;
    margin: 1em 0;
    padding: 0;
    width: 32px;
  }

  .start-line {
    width: 20px;
  }

  .end-line {
    width: 48px;
  }

  .todo {
    .step {
      border: 1px solid #ecedef;
      background: #ecedef;
      color: #8897a8;
    }

    .line {
      border: 1px solid #ecedef;
      background: #ecedef;
    }
  }

  .doing {
    .step {
      border: 1px solid #3d3f53;
      background: #fff;
      color: #3d3f53;
    }

    .line {
      border: 1px solid #3d3f53;
      background: #3d3f53;
    }
  }

  .done {
    .step {
      border: 1px solid #258613;
      background: #258613;
      color: #fff;
    }

    .line {
      border: 1px solid #258613;
      background: #258613;
    }
  }
}

@media (min-width: 480px) {
    .hide-on-desktop {
      display: none !important;
    }
  }

  @media (max-width: 479px) {
    .hide-on-mobile {
      display: none !important;
    }
  } 