@import '../../assets/styles/_base.scss';

.counter-button-wrapper {
    color: #000;
    border-radius: 20px;
    background-color: #f2f3f5;

    > :first-child {
        border-radius: 20px 20px 0 0;
    }

    > :nth-child(2) {
        border-radius: 0 0 20px 20px;
    }

    &:hover {
        background: #eaf2fc;
        color: #1e6dc8;
    }

    .button-wrapper {
        width: calculatePixelToRem(40);
        height: calculatePixelToRem(40);
        box-sizing: border-box;
        user-select: none;

        span {
            margin: calculatePixelToRem(8);
            cursor: pointer;
            font-size: calculatePixelToRem(24);
        }

        &:hover {
            background-color: #1e6dc8;
            color: #fff;
        }
    }
}
