@import '../../assets/styles/_base.scss';

@keyframes progress-bar-animation {
  from {
    width: 0;
    opacity: 0;
  }
}

.progress-bar-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
  direction: rtl;

  > .title {
    font-size: calculatePixelToRem(12);
    color: black;
  }

  > .progress-bar {
    background-color: #eaf2fc;
    height: 24px;
    border-radius: 18px;
    overflow: hidden;

    > .indicators {
      height: 100%;
      display: flex;
      animation: progress-bar-animation 700ms cubic-bezier(.1,.8,.16,.93);

      > .primary-indicator {
        flex: 1;
        height: 100%;
      }

      > .secondary-indicator {
        width: 2px;
        height: 100%;
      }
    }
  }

  > .footer {
    display: flex;
    justify-content: space-between;

    > .value {
      margin: 0;
      font-size: calculatePixelToRem(14);;
      color: #4a4a4a;
    }
  }
}
