@import '../../assets/styles/_base.scss';
@import '../../assets/styles/_input-variables.scss';

::-webkit-scrollbar { 
  display: none; 
}

.fdg-container {
  @include font-size(14);
  text-align: right;
  border-radius: 12px;
  background-color: #FFFFFF;
  box-shadow: 0 16px 8px -12px rgba(0,0,0,0.1);
  font-family: IranSans;
  text-align: right;
  padding: calculateRem(12);
  margin-bottom: calculateRem(16);
  max-height: calculateRem(72);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #000000;

  &:hover {
    background-color: #EAF2FC;
    color: #000000;
  }
}

.selected { 
  background-color: #1E6DC8;
  color: #FFFFFF;
}

.fdg-list-container {
  direction: rtl;
  background-color: #F7F8FA;
  box-shadow: inset -1px 0 0 0 #ECEDEF, 0 -1px 0 0 rgba(221,221,221,0.5);
  padding: calculateRem(24);
  min-width: 132px;
  max-width: 192px;
  width: calculateRem(132);
  overflow-y: auto;
  height: calc(100% - 48px);

  :last-child {
    margin-bottom: 0 !important;
  }

  @include onHdDesktop {
    width: calculateRem(192)
  }
}
