### vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

*.xml
.idea

*.log
tags

node_modules

.agignore

.vscode
.happypack
.cache-uglify
.DS_Store
.cache

coverage/
.env
.ignore
