@import '../../assets/styles/_base.scss';

.chat {
  &-container {
    display: none;
    width: 316px;
    box-sizing: border-box;
    background-color: $whiteColor;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px 8px 0 0;
    direction: rtl;
    position: relative;

    .chat-content {
      display: none; 
    }

    .submit-form {
      display: none;
    }

    &.active {
      .chat-content {
       display: block; 
      }

      .chat-content::-webkit-scrollbar {
        width: 17px;
      }

      .submit-form {
        display: block;
      }
    }

    &.open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-self: flex-end;

      &.active {
        height: 408px;
      }
    }

    .textarea-container {
      margin: 8px;
    }

    textarea {
      border: 1px solid #ebebeb !important;
      box-shadow: 2px 2px 1px rgba(238, 238, 238, 0.08);
      border-radius: 10px !important;
      font-weight: 400;
      font-variation-settings: 'wght' 400;
      font-size: 12px !important;
      line-height: 19px !important;
      text-align: right;
      height: 38px;
      overflow: hidden;
      text-overflow: ellipsis;  

      &:active, &:focus {
        box-shadow: none !important;
      }
    }
  }

  &-header {
    padding: 8px 24px 8px 16px;
    display: flex;
    justify-content: space-between;
    line-height: 24px;
    border-bottom: 1px solid #ecedef;
    cursor: pointer;

    &:before {
      content: ' ';
      position: absolute;
      height: 48px;
      right: 0;
      width: 8px;
      border-radius: 4px 0 0 4px;
    }

    &.driver-issue {
      &:before {
        background-color: #1eb973;
      }
    }

    &.client-issue {
      &:before {
        background-color: #5b0b70;
      }
    }

    &.auto-issue {
      &:before {
        background-color: #fbba00;
      }
    }

    &.staff-issue {
      &:before {
        background-color: #ef5350;
      }
    }
  }

  &-content {
    overflow-y: scroll;
    height: 100%;
  }

  &-username {
    color: #3d3f53;
    font-weight: 300;
    font-variation-settings: 'wght' 300;
    max-width: 242px;
    overflow: hidden;
    text-overflow: ellipsis;  
  }

  &-title {
    color: #191924;
    max-width: 242px;
    overflow: hidden;
    text-overflow: ellipsis;  
  }

  &-footer {
    height: 40px;
    background-color: #ecedef;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;

    .link {
      background-color: transparent !important;
      padding: 0 !important;
      margin-left: 13px;
      margin-right: 16px;
      display: flex;
      align-items: center;
      gap: 8px;

      &:disabled {
        color: rgba(16, 16, 16, 0.3) !important;
      }
    }
  }
}

.message {
  font-weight: 300;
  font-variation-settings: 'wght' 300;
  font-size: 14px;
  line-height: 24px;
  padding: 8px;
  margin: 8px 8px 4px 8px;
  background: #1e6dc8;
  border-radius: 10px 10px 0 10px;
  color: $whiteColor;
  overflow: hidden;
  text-overflow: ellipsis;  
  text-align: right;

  &-container {
    &.right {
      text-align: left;
      
      .message {
        background: #ecedef;
        border-radius: 10px 10px 10px 0;
        color: #3d3f53;
      }
    }

    .time {
      font-weight: 400;
      font-size: 10px;
      line-height: 16px;
      color: #505050;
      margin: 0 8px;
    }
  }
}
