@import '../../assets/styles/_base.scss';

.chat {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    width: 316px;
    box-sizing: border-box;
    background-color: $whiteColor;
    direction: rtl;
    position: relative;

    .chat-content {
      display: block; 
    }

    .chat-content::-webkit-scrollbar {
      width: 17px;
    }

    .submit-form {
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      border-top: 1px solid #ecedef;

      .send-button {
        margin: unset;
        height: 38px;
      }

      .textarea-container {
        width: 268px;
        margin-bottom: 0;
      }

      textarea {
        border: 1px solid #ebebeb !important;
        box-shadow: 2px 2px 1px rgba(238, 238, 238, 0.08);
        border-radius: 10px !important;
        font-weight: 400;
        font-variation-settings: 'wght' 400;
        font-size: 12px !important;
        line-height: 19px !important;
        text-align: right;
        height: 38px;
        overflow: hidden;
        text-overflow: ellipsis;  

        &:active, &:focus {
          box-shadow: none !important;
        }
      }
    }

    .chat-footer {
      color: #1e6dc8;
      background-color: #ecedef;
      height: 40px;
      padding: 8px 20px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      align-items: center;

      .file-container {
        .file-div {
          flex-direction: column;

          button {
            margin: 0;
            background-color: transparent;
            border: none;
            padding: 0;
            width: fit-content;
            cursor: pointer;

            img {
              cursor: pointer;
            }

            input {
              cursor: pointer;
            }

            &:hover {
              background-color: transparent !important;
              border-color: transparent !important;
            }
          }

          .file-name-container{ 
            margin: 0;
            position: absolute;
            right: 8px;
            bottom: 48px;
            max-width: 268px;                

            .file-name {
              border-radius: 10px;
              font-size: 12px;
              line-height: 19px;
              height: 38px;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 268px;

              .try-again {
                margin: 0;
                background-color: transparent;
                border: none;
                padding: 9px 8px;
                width: fit-content;
                min-width: 16px;
    
                &:hover {
                  background-color: transparent !important;
                  border-color: transparent !important;
                }

                .reload-icon {
                  width: 16px;
                }
              }

              &-text {
                padding: 10px 8px;

                p {
                  max-width: 230px;
                }

                .clear {
                  font-size: 20px;
                  top: 8px;
                }
              }
            }

            &.error-state {
              bottom: 38px;

              .file-name {
                line-height: 14px;
                height: 34px;

                
                &-text {
                  .clear {
                    font-size: 19px;
                  }
                }
              }
            }

            &.try-again-state {
              .clear {
                right: 0;
              }
            }
          }
        }

        .error {
          font-size: 12px;
          margin-top: 0;
        }
      }
    }
  }

  &-content {
    overflow-y: scroll;
    height: 100%;
  }

  &-message {
    &-container {
      display: flex;
      flex-direction: column;

      .chat-message-item {
        width: fit-content;
        max-width: calc( 100% - 34px);
        word-break: break-word;
        overflow: hidden;
      }

      &.right {
        text-align: left;
        align-items: flex-end;
        
        .chat-message-item {
          background: #ecedef;
          border-radius: 10px 10px 10px 0;
          color: #3d3f53;
          width: fit-content;
        }
      }
  
      .time {
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
        color: #505050;
        margin: 0 8px;
      }
    }
  
    &-item {
      font-weight: 300;
      font-variation-settings: 'wght' 300;
      font-size: 14px;
      line-height: 24px;
      padding: 8px;
      margin: 8px 8px 4px 8px;
      background: #1e6dc8;
      border-radius: 10px 10px 0 10px;
      color: $whiteColor;
      overflow: hidden;
      text-overflow: ellipsis;  
      text-align: right;
    }
  }
}
