@import '../../assets/styles/_base.scss';

$buttonPrimaryBackgroundColor: $primary1;
$buttonPrimaryBorderColor: $primary1;
$buttonPrimaryColor: #fff;
$buttonPrimaryHoverBackgroundColor: $primary2;
$buttonPrimaryHoverBorderColor: $primary2;
$buttonPrimaryHoverColor: #fff;
$buttonPrimaryDisabledBackgroundColor: $disabledColor;
$buttonPrimaryDisabledBorderColor: $disabledColor;
$buttonPrimaryDisabledColor: #fff;

$buttonGhostBackgroundColor: #fff;
$buttonGhostBorderColor: $primary1;
$buttonGhostColor: $primary1;
$buttonGhostHoverBackgroundColor: $primary3;
$buttonGhostHoverBorderColor: $primary1;
$buttonGhostHoverColor: $primary1;
$buttonGhostDisabledBackgroundColor: #fff;
$buttonGhostDisabledBorderColor: #8897a8;
$buttonGhostDisabledColor: #8897a8;

$buttonDangerBackgroundColor: $warning1;
$buttonDangerBorderColor: $warning1;
$buttonDangerColor: #fff;
$buttonDangerHoverBackgroundColor: $danger1;
$buttonDangerHoverBorderColor: $danger1;

$buttonLinkBackgroundColor: #fff;
$buttonLinkBorderColor: #fff;
$buttonLinkColor: $primary1;
$buttonLinkHoverBackgroundColor: $primary3;
$buttonLinkHoverBorderColor: $primary3;
$buttonLinkHoverColor: $primary1;

.milingo-btn-wrapper {
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "IranSansNumeral", "IranSans";
  font-size: 16px;
  font-weight: 500;
  height: 48px;
  min-width: fit-content;
  padding: 12px 24px;
  cursor: pointer;
  transition: $transitionInward;

  &:not(.disabled):not([disabled]):not(:disabled):hover {
    transition: $transitionOutward;
  }

  &.tiny,
  &.small {
    font-size: 14px;
  }

  &.tiny {
    height: 32px;
    padding: 4px 8px;
  }

  &.small {
    height: 40px;
    padding: 8px 16px;
  }

  &.regular {
    font-size: 16px;
    height: 48px;
    padding: 12px 24px;
  }

  &.large {
    font-size: 18px;
    height: 56px;
    padding: 12px 24px;
  }

  &.primary {
    background-color: $buttonPrimaryBackgroundColor;
    border: 1px solid $buttonPrimaryBorderColor;
    color: $buttonPrimaryColor;

    &:not(.disabled):not([disabled]):not(:disabled):hover {
      background-color: $buttonPrimaryHoverBackgroundColor;
      border-color: $buttonPrimaryHoverBorderColor;
    }

    &.disabled,
    &[disabled],
    &:disabled {
      background-color: $buttonPrimaryDisabledBackgroundColor;
      border-color: $buttonPrimaryDisabledBorderColor;
      color: $buttonPrimaryDisabledColor;
    }
  }

  &.ghost {
    background-color: $buttonGhostBackgroundColor;
    border: 1px solid $buttonGhostBorderColor;
    color: $buttonGhostColor;

    &:not(.disabled):not([disabled]):not(:disabled):hover {
      background-color: $buttonGhostHoverBackgroundColor;
      border-color: $buttonGhostHoverBorderColor;
    }

    &.disabled,
    &[disabled],
    &:disabled {
      background-color: $buttonGhostDisabledBackgroundColor;
      border-color: $buttonGhostDisabledBorderColor;
      color: $buttonGhostDisabledColor;
    }
  }

  &.danger {
    background-color: $buttonDangerBackgroundColor;
    border: 1px solid $buttonDangerBorderColor;
    color: $buttonDangerColor;

    &:not(.disabled):not([disabled]):not(:disabled):hover {
      background-color: $buttonDangerHoverBackgroundColor;
      border-color: $buttonDangerHoverBorderColor;
    }

    &.disabled,
    &[disabled],
    &:disabled {
      background-color: $buttonPrimaryDisabledBackgroundColor;
      border-color: $buttonPrimaryDisabledBorderColor;
      color: $buttonPrimaryDisabledColor;
    }
  }

  &.link {
    background-color: $buttonLinkBackgroundColor;
    border: none;
    color: $buttonLinkColor;

    &:not(.disabled):not([disabled]):not(:disabled):hover {
      background-color: $buttonLinkHoverBackgroundColor;
      border-color: $buttonLinkHoverBorderColor;
    }
  }

  &.disabled,
  &[disabled],
  &:disabled {
    cursor: default;
  }

  &:active,
  &:focus {
    outline: none;
  }
}
