@import '../../assets/styles/_base.scss';
@import '../../assets/styles/_input-variables.scss';

::-webkit-scrollbar { 
  display: none; 
}

.food-card-list-container {
  width: 100%;

  .header {
    text-align: right;
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;
    font-family: IRANSans;
    @include font-size(16);
    font-weight: 500;
  }

  .card-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    direction: ltr;
  }
}

.food-card-container {
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 16px 8px -12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  height: calculateRem(120);
  justify-content: space-between;
  margin: 16px 8px 0 8px;
  max-width: 240px;
  min-width: 148px;
  padding: calculateRem(12);
  position: relative;
  font-family: IRANSans;
  box-sizing: border-box;
  flex-grow: 1;

  &.out-of-order {
    background-color: #ebedf0;
  }

  .food-title {
    margin: 0;
    @include font-size(14);
    color: #000000;
    text-align: center;
    max-height: calculateRem(72);
    overflow: hidden;
  }

  .price {
    color: #4A4A4A;
    direction: rtl;
    @include font-size(14);
    text-align: center;
  }

  .out-of-order-message {
    color: $danger1;
    direction: rtl;
    @include font-size(14);
    text-align: center;
  }
  
  .topping-dot {
    width: calculateRem(8);
    height: calculateRem(8);
    border-radius: 50%;
    background-color: #4A90E2;
    position: absolute;
    bottom: 8px;
    left: 8px;
  }
}
