@import '../../assets/styles/_base.scss';

.toolbar {
  box-sizing: border-box;
  height: 88px;
  padding: 18px 24px 12px;
  direction: rtl;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 2px 4px black;
  background-color: white;

  &-avatar {
    margin-left: 12px;
  }

  &-info {
    display: flex;
    flex-direction: column;

    .toolbar-title {
      margin: 0 0 4px;
      font-weight: 500;
      font-size: 16px;
    }

    .toolbar-description {
      margin: 0;
      font-weight: 400;
      font-size: 14px;
    }
  }

  &-items {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
    justify-content: flex-end;

    .toolbar-item {
      margin-right: 16px;
      padding: 2px;
      width: 40px;
      height: 64px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      &-icon {
        font-size: 32px;
        margin: 0 2px;
        color: $primary1;
      }

      &-title {
        font-size: 14px;
        font-weight: 500;
        color: $primary1;
        margin: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
