.accordion-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px 8px 8px;
  
  &-container {
    display: flex;
    line-height: 24px;
    cursor: pointer;
  
    &:not(:last-child) {
      border-bottom: 1px solid #ecedef;
    }
  }

  &-description {
    color: #3d3f53;
    font-weight: 300;
    font-variation-settings: 'wght' 300;
    max-width: 242px;
    overflow: hidden;
    text-overflow: ellipsis;  
  }

  &-title {
    color: #191924;
    max-width: 242px;
    overflow: hidden;
    text-overflow: ellipsis;  
  }
}
