.issue-accordion {
  bottom: 0;
  right: 8px;

  & + .messages-container {
    bottom: 0;
    right: 340px;
  }
}

.chats-container {
  display: flex;
  gap: 12px;
  position: fixed;
  bottom: 0;
  right: 336px;
  flex-direction: row-reverse;
}
