.list-accordion {
  bottom: 0;
  right: 8px;
  position: fixed;

  & + .messages-container {
    bottom: 0;
    right: 340px;
  }
}

.items-container {
  display: flex;
  gap: 12px;
  position: fixed;
  bottom: 0;
  right: 336px;
  flex-direction: row-reverse;
  align-items: flex-end;
}
