@import '../../assets/styles/_base.scss';
@import '../../assets/styles/_input-variables.scss';

.radio-btn {
  margin: 0 0 calculatePixelToRem(16) calculatePixelToRem(16);
  font-weight: 400;
  font-family: 'IranSans';
  direction: rtl;
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  padding: 0;
  outline: none;
  min-height: 24px;

  * {
    transition: $transitionInward;
  }

  input[type="radio"] {
    display: none;
  }

  .radio-icon {
    display: flex;

    .radio {
      border-radius: 50%;
      border: 1px solid $inputBorderColor;
      box-sizing: border-box;
      background-color: $inputBackgroundColor;
      margin-left: 8px;
      height: 24px;
      width: 24px;
      position: relative;
      cursor: pointer;

      .icon {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        font-size: 18px;
        box-sizing: border-box;
        position: absolute;
        top: 2px;
        left: 2px;
      }
    }
  }

  .children-div {
    color: $inputLabelColor;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
  }

  &:not(.disabled) {
    input[type="radio"]:checked + .radio {
      border-color: $inputCheckedBorderColor;

      .icon {
      background-color: $primary2;
      }
    }

    &:hover {
      * {
        transition: $transitionOutward;
      }

      &:not(input[type="radio"]:checked) .radio {
        border-color: $inputHoverBorderColor;
      }
    }

    &:focus, &:active, &:target {
      outline: none;

      .radio {
        border-color: $inputFocusBorderColor;
        box-shadow: 0 0 0 4px $inputFocusShadowColor;
      }
    }
  }

  &.disabled {
    input[type="radio"]:checked + .radio {
      border-color: $inputDisabledBorderColor;
      background-color: $inputDisabledBackgroundColor;

      .icon{
        background-color: $inputDisabledCheckedBorderColor;
        color: $inputDisabledIconColor;

      }
    }

    .children-div {
      color: $inputDisabledLabelColor;
    }
  }

  &::-moz-focus-inner {
    border: 0;
  }
}
