@import '../../assets/styles/_base.scss';

.navbar {
  width: 100px;
  height: calc(100vh - 16px);
  padding-top: 16px;
  background-color: #191924;
  display: flex;
  flex-direction: column;

  @include onTablet {
    flex-direction: row-reverse;
    width: 100vw;
    min-height: 64px;
    height: auto;
    font-size: 8px;
    padding: 0;
    text-align: center;
    justify-content: space-evenly;
    overflow: hidden;
  }

  &-item {
    height: 96px;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    color: $disabledColor;
    font-size: 14px;
    background-color: #191924;
    transition: $transitionInward;
    cursor: pointer;

    @include onTablet {
      height: auto;
      width: 100%;
      padding: 8px 0;

      > :first-child {
        margin-bottom: 0;
      }
    }

    &:hover, &:focus {
      color: #bfcfe1;
      background-color: #2c2d40;
      transition: $transitionOutward;
    }

    &.selected {
      background-color: #191924;
      color: $primary2;
      transition: $transitionOutward;
    }

    > :first-child {
      margin-bottom: 4px;

      @include onTablet {
        margin-bottom: 0;
      }
    }

    &-icon * {
      font-size: 36px;

      @include onTablet {
        font-size: 24px;
      }
    }
  }

  &.horizontally {
    flex-direction: row-reverse;
    width: 100vw;
    min-height: 64px;
    height: auto;
    font-size: 8px;
    padding: 8px 0;
    justify-content: space-evenly;
    flex-wrap: nowrap;

    .navbar-item {
      height: 100%;
      width: 100%;
      padding: 8px 0;

      > :first-child {
        margin-bottom: 0;
      }
    }

    .navbar-icon * {
      font-size: 24px;
    }
  }
}
