@import '../../assets/styles/_base.scss';

.timeline {
  direction: rtl;
  font-size: 14px;
  font-weight: 400;

  &.clickable {
    .entry {
      &-time {
        border: 2px #1e6dc8 solid
      }

      &-title {
        color: #1e6dc8;
      }
    }
  }

  &.clicked {
    .entry {
      &-time {
        color: #fff;
        background-color: #1e6dc8;
      }

      &-title {
        color: #1e6dc8;
      }
    }
  }

  &:last-of-type {
    .entry {
      &-content {
        border-right-width: 0;
      }
    }
  }

  .entry {
    &-title-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 28px;
    }

    &-time {
      font-size: 14px;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #4a4a4a;
      background-color: #ecedef;
      border-radius: 100px;
      min-width: 28px;
      max-width: 47px;
      height: 28px;
      padding: 0 8px;
      margin-left: 8px;
      box-sizing: border-box;

      &-container {
        display: flex;
        justify-content: center;
        flex: 0 0 56px;
      }
    }

    &-title {
      font-weight: 400;
      margin: 0;
      line-height: 1.35;
    }

    &-content {
      margin-right: 23px;
      padding: 8px 28px 16px 0;
      border-right: 2px solid #ecedef;

      &.empty {
        padding-top: 0;
      }

      &.no-border {
        border-right: none;
      }
    }
  }
}
