@import '../../assets/styles/_base.scss';
@import '../../assets/styles/_input-variables.scss';

.checkbox-container {
  direction: rtl;

  .checkbox {
    margin-bottom: 16px;
    font-family: 'IranSans';
    display: flex;
    align-items: center;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    height: 24px;
    margin-bottom: 16px;

    * {
      transition: $transitionInward;
    }

    input[type=checkbox] {
      display: none;
    }

    .check {
      border-radius: 4px;
      border: 1px solid $inputBorderColor;
      box-sizing: border-box;
      background-color: $inputBackgroundColor;
      display: inline-block;
      margin-left: 8px;
      height: 24px;
      width: 24px;
      position: relative;

      .icon {
        color: $inputIconColor;
        width: 18px;
        height: 18px;
        border-radius: 2px;
        font-size: 18px;
        box-sizing: border-box;
        position: absolute;
        top: 2px;
        left: 2px;
      }
    }

    label {
      color: $inputLabelColor;
      font-size: 14px;
      line-height: 24px;
      cursor: pointer;
    }

    &:not(.checked) {
      .check {
        .icon {
          display: none;
        }
      }
    }

    &:not(.disabled) {
      &.checked {
        .check {
          border-color: $inputCheckedBorderColor;

          .icon {
            background-color: $inputCheckedBorderColor;
          }
        }
      }

      &:hover {
        * {
          transition: $transitionOutward;
        }

        &:not(.checked) .check {
          border-color: $inputHoverBorderColor;
        }
      }

      &:focus,
      &:active,
      &:target {
        outline: none;

        .check {
          border-color: $inputFocusBorderColor;
          box-shadow: 0 0 0 4px $inputFocusShadowColor;
        }
      }
    }

    &.disabled {
      cursor: default !important;

      .check {
        border-color: $inputDisabledBorderColor;
        background-color: $inputDisabledBackgroundColor;
      }

      &.checked {
        .icon {
          background-color: $inputDisabledCheckedBorderColor;
          color: $inputDisabledIconColor;
        }
      }

      label {
        cursor: default !important;
        color: $inputDisabledLabelColor;
      }
    }

    &::-moz-focus-inner {
      border: 0;
    }
  }
}
