@import '../../assets/styles/_base.scss';

.date-line {
  @include font-size(14);

  font-weight: 500;
  color: #4a4a4a;
  background: #ecedef;
  padding: 12px 24px;
}

.data-table {
  font-size: 14px;

  table {
    border-collapse:collapse;
    text-align: right;
    width: 100%;
  }

  tr {
    box-shadow: inset 0 1px 0 0 #ecedef;

    &:hover {
      background-color: #eaf2fc;
    }
  }

  th {
    font-weight: normal;
    padding: 16px 24px;
    background-color: #fff;
    color: #4a4a4a;
    box-shadow: inset 0 -1px 0 0 #ecedef;
  }

  td {
    font-weight: normal;
    padding: 16px 24px;
    color: #000;
  }
}
