@import '../../assets/styles/_base.scss';

.date-line {
  @include font-size(14);

  font-weight: 500;
  color: #4a4a4a;
  background: #ecedef;
  padding: 12px 24px;
}

.data-table {
  font-size: 14px;

  table {
    border-collapse:collapse;
    text-align: right;
    width: 100%;
  }

  tr {
    box-shadow: inset 0 1px 0 0 #ecedef;

    &:hover {
      background-color: #eaf2fc;
    }
  }

  th {
    font-weight: normal;
    padding: 16px 24px;
    background-color: #fff;
    color: #4a4a4a;
    box-shadow: inset 0 -1px 0 0 #ecedef;
  }

  td {
    font-weight: normal;
    padding: 16px 24px;
    color: #000;
  }
}

.light-table {
  border: 1px solid #bfcfe1;
  border-radius: 8px;
  box-sizing: border-box;
  width: fit-content;
  overflow-x: auto;

  table {
    border-collapse: collapse;
    text-align: right;
    width: 100%;
    border-spacing: 0;

    tr {
      text-align: right;

      &:not(:last-child) {
        border-bottom: 1px solid #bfcfe1;
      }

      &:has(th) {
        background-color: #bfcfe1;
      }

      td {
        color: #212230;
        padding: 8px 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
      }

      th {
        font-size: 12px;
        line-height: 24px;
        color: #3d3f53;
        background-color: #bfcfe1;
        padding: 4px 24px;
      }
    }
  }
}
