$primary1:      #1E6DC8;
$primary2:      #4A90E2;
$primary3:      #EAF2FC;
$disabledColor: #8897A8;

$warning1:      #BC0007;
$warning2:      #FFD0D6;

$mobileWidth:   480px;
$tabletWidth:   768px;
$monitorWidth:  1024px;

$loadingbarBackground: #d0d0d0;
