@import '../../assets/styles/_base.scss';

.accordion {
  &-container {
    position: fixed;
    width: 316px;
    height: 56px;
    box-sizing: border-box;
    background-color: $whiteColor;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px 8px 0 0;
  
    &.active {
      height: 408px;
  
      .accordion-header > img {
        transform: none;
      }
  
      .accordion-content {
        display: block;
      }
    }
  
    .accordion-header {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      cursor: pointer;
  
      .tag-wrapper {
        margin-right: 8px;
      }
  
      img {
        transform: rotateX(180deg);
        margin-left: 6px;
      }
    }
  
    .accordion-content {
      display: none;
      height: 350px;
      overflow-y: scroll;
      border-top: 1px solid #ecedef;
      text-align: right;
      direction: rtl;
    }
  }
}

.list {
    &-item-container {
      padding: 16px 24px 16px 16px;
      display: flex;
      justify-content: space-between;
      line-height: 24px;
      cursor: pointer;
    
      &:not(:last-child) {
        border-bottom: 1px solid #ecedef;
      }    
      
      .list-item-timer.resolved {
        color: $successDark;
      }

      &:before {
        content: ' ';
        position: absolute;
        height: 48px;
        right: 0;
        width: 8px;
        border-radius: 5px 0 0 5px;
      }

      &.driver-issue {
        &:before {
          background-color: #1eb973;
        }
      }

      &.client-issue {
        &:before {
          background-color: #5b0b70;
        }
      }

      &.auto-issue {
        &:before {
          background-color: $warning3;
        }
      }

      &.staff-issue {
        &:before {
          background-color: #ef5350;
        }
      }
    }

    &-item-description {
      color: #3d3f53;
      font-weight: 300;
      font-variation-settings: 'wght' 300;
      max-width: 242px;
      overflow: hidden;
      text-overflow: ellipsis;  
    }

    &-item-title {
      color: #191924;
      max-width: 242px;
      overflow: hidden;
      text-overflow: ellipsis;  
    }
}
  
.issue-accordion {
  bottom: 0;
  right: 8px;

  & + .messages-container {
    bottom: 0;
    right: 340px;
  }
}

.chats-container {
  display: flex;
  gap: 12px;
  position: fixed;
  bottom: 0;
  right: 336px;
  flex-direction: row-reverse;
}
