@import "../../assets/styles/_base.scss";

.button-group-container {
    display: flex;

    button {
        margin: 0 !important;
        border-radius: 0;
        border-left: none !important;
    }

    > :last-child {
        border-radius: 0 4px 4px 0;
    }

    > :first-child {
        border-radius: 4px 0 0 4px;
        border-left: 1px solid $primary1 !important;
    }
} 
